@CHARSET "UTF-8";
#wrapper {
	margin: 0 auto;
	padding-top: 20pt;
	width: 90%;
}

#boardTitle {
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0
		#b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px
		rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px
		rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px
		rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
	color: white;
	font-size: 30pt;
}

th {
	background-color: lightgray;
	text-align: center;
}

td {
	text-align: center;
}

#paging {
	margin-top: 20pt;
	text-align: center;
}

#idDiv {
	text-align: right;
	margin-bottom: 100pt;
}

#btnWriteDiv {
	margin-top: 10px;
	text-align: right;
}

#listCount {
	text-align: right;
	margin-bottom: 10pt;
}

#searchDiv select {
	display: inline;
	float: left;
	margin-right: 10px;
}

.table-borderless tr, .table-borderless td, .table-borderless th {
	border-width: 0;
}