<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.reply.repository.ReplyRepository">
	<resultMap id="replyResultMap" type="reply">
		<id property="replyNum" column="reply_num"/>
		<result property="boardNum" column="reply_board_num"/>
		<result property="replyContent" column="reply_content"/>
		<result property="replyer" column="replyer"/>
		<result property="replyDate" column="reply_Date"/>
	</resultMap>

	<insert id="insertReply">
		INSERT INTO reply 
		(
			reply_board_num, 
			reply_content, 
			replyer
		)
		VALUES 
		(
			#{boardNum}, 
			#{replyContent},
			#{replyer}
		)
	</insert>
	
	 <select id="replyList" resultMap="replyResultMap">
		SELECT 
			reply_num, 
			reply_board_num, 
			reply_content, 
			replyer, 
			reply_Date,
			userName AS replyUserName
		FROM reply r, user u
		WHERE r.replyer = u.userId
		AND reply_board_num = #{boardNum} 
		ORDER BY reply_num DESC
		LIMIT #{startRow} , #{pageScale}
	</select>
	
	<select id="listCount" resultType="int">
		SELECT COUNT(1)
		FROM reply
		WHERE reply_board_num = #{boardNum}
	</select>
	
	<select id="detailReply" resultMap="replyResultMap">
		SELECT 
			reply_num, 
			reply_board_num, 
			reply_content, 
			replyer, 
			reply_Date
		FROM reply 
		WHERE 
			reply_num = #{replyNum}
	</select>
	
	<update id="updateReply">
		UPDATE reply
		SET
			reply_content = #{replyContent}
		WHERE 
			reply_num = #{replyNum}
	</update>
	
	<delete id="deleteReply">
		DELETE 
		FROM reply
		WHERE 
			reply_num = #{replyNum}
	</delete>
	
	<select id="replyerId" resultType="int">
		SELECT replyer
		FROM reply
		WHERE reply_num = #{replyNum}
	</select>

</mapper>