<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.kanban.repository.KanbanRepository">
	
	<select id="kanbanListAll" resultType="Kanban">
		SELECT 
			kanban_num AS kanbanNum,
			kanban_content AS kanbanContent,
			kanban_importance AS kanbanImportance,
			kanban_state AS kanbanState,
			kanban_deadline AS kanbanDeadline,
			kanban_boardNum AS kanbanBoardNum,
			kanban_modifyTime AS kanbanContent
		FROM kanban
		WHERE kanban_userId = #{userId}
		ORDER BY kanban_modifyTime ASC
	</select>
	
	<insert id="insertKanban" parameterType="Kanban">
		INSERT INTO kanban 
		(
			kanban_userId,
			kanban_content,
			kanban_importance,
			kanban_deadline,
			kanban_boardNum
		)
		VALUES 
		(
			#{kanbanUserId},
			#{kanbanContent},
			#{kanbanImportance},
			#{kanbanDeadline},
			#{kanbanBoardNum}
		)
	</insert>
	
	<update id="updateKanban">
		UPDATE kanban
		<if test="kanbanState == 'TODO'">
			SET kanban_State = "DOING"
		</if>
		<if test="kanbanState == 'DOING'">
			SET kanban_State = "DONE"
		</if>
		WHERE kanban_num = #{kanbanNum}
	</update>
	
	<delete id="deleteKanban">
		DELETE FROM kanban
		WHERE
			kanban_num = #{kanbanNum}
	</delete>
	
</mapper>