<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.kanban.repository.KanbanRepository">
	<resultMap id="kanbanResultMap" type="Kanban">
		<id property ="kanbanNum" column="kanban_num"/>
		<result property="kanbanContent" column="kanban_content"/>
		<result property="kanbanImportance" column="kanban_importance"/>
		<result property="kanbanState" column="kanban_state"/>
		<result property="kanbanDeadline" column="kanban_deadline"/>
		<result property="kanbanBoardNum" column="kanban_boardNum"/>
		<result property="kanbanModifyTime" column="kanban_modifyTime"/>
		<result property="kanbanOrder" column="kanban_order"/>
	</resultMap>
	
	<select id="kanbanListAll" resultMap="kanbanResultMap">
		SELECT 
			kanban_num,
			kanban_content,
			kanban_importance,
			kanban_state,
			kanban_deadline,
			kanban_boardNum,
			kanban_modifyTime
		FROM kanban
		WHERE kanban_userId = #{userId}
		ORDER BY kanban_order ASC
	</select>
	
	<select id="getStateNum" resultType="int">
		SELECT COUNT(1)
		FROM kanban
		WHERE kanban_userId = #{kanbanUserId}
		AND kanban_state = #{kanbanState}
	</select>
	
	<insert id="insertKanban" parameterType="Kanban">
		INSERT INTO kanban 
		(
			<if test="kanbanBoardNum != 0" >
				kanban_boardNum,
			</if>
			kanban_userId,
			kanban_content,
			kanban_importance,
			kanban_deadline,
			kanban_order
		)
		SELECT 
			<if test="kanbanBoardNum != 0" >
				#{kanbanBoardNum},
			</if>
			#{kanbanUserId},
			#{kanbanContent},
			#{kanbanImportance},
			#{kanbanDeadline},
			COUNT(#{kanbanUserId}) + 1
			FROM kanban
			WHERE kanban_state = "TODO"
	</insert>
	
	
	<update id="updateKanbanState">
		UPDATE kanban
		<if test="kanbanState == 'TODO'">
			SET kanban_State = "TODO",
		</if>
		<if test="kanbanState == 'DOING'">
			SET kanban_State = "DOING",
		</if>
		<if test="kanbanState == 'DONE'">
			SET kanban_State = "DONE",
		</if>
		 		kanban_modifyTime = CURRENT_TIMESTAMP,
		 		kanban_order = #{kanbanOrder}
		WHERE kanban_num = #{kanbanNum}
	</update>
	
	<delete id="deleteKanban">
		DELETE FROM kanban
		WHERE
			kanban_num = #{kanbanNum}
	</delete>
	
	<select id="checkAddedKanban" resultType="int">
		SELECT COUNT(1)
		FROM kanban
		WHERE kanban_userId= #{kanbanUserId}
		AND kanban_boardNum = #{kanbanBoardNum}
	</select>
	
	<update id="updateKanbanForDeleteBoard">
		UPDATE kanban
		SET
			kanban_boardNum = null,
			kanban_content = CONCAT(kanban_content, '[원글삭제됨]')
		WHERE 
			kanban_boardNum = #{boardNum}
	</update>
	
	<update id="sortKanbanList">
		UPDATE kanban
		SET 
			kanban_order = #{kanbanOrder}
		WHERE kanban_userId= #{kanbanUserId}
		AND kanban_State = #{kanbanState}
		AND kanban_num = #{kanbanNum}
	</update>
	
	<update id="updateKanbanContent">
		UPDATE kanban
		SET 
			kanban_content = #{kanbanContent},
			kanban_deadline = #{kanbanDeadline}
		WHERE kanban_userId= #{kanbanUserId}
		AND kanban_num = #{kanbanNum}
	</update>
	
</mapper>