<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.user.repository.UserRepository">
  
    <!-- 회원가입  -->
     <insert id="insertUser" parameterType="userDto">
        INSERT INTO user 
        (
        	userId, 
        	userPw, 
        	userName, 
        	userMajor, 
        	userPhoneNum
        )
        VALUES 
        (
        	#{userId}, 
        	#{userPw}, 
        	#{userName}, 
        	#{userMajor}, 
        	#{userPhoneNum}
        )
    </insert>
    
    <select id="loginCheck" resultType="String">
        SELECT userName 
        FROM user
        WHERE userId = #{userId} 
        AND userPw = #{userPw}
    </select>

	<select id="userInfo" resultType="userDto">
        SELECT *
        FROM user
        WHERE userId = #{userId} 
        AND userPw = #{userPw}
    </select>
    
    <select id="checkId" resultType="userDto">
    	SELECT *
    	FROM user
    	WHERE userId = #{userId}
    </select>
</mapper>