<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.bookmark.repository.BookmarkRepository">
	
	<insert id="insertBookmark" parameterType="Bookmark">
		INSERT INTO bookmark 
		(
			mark_boardNum,
			bookmark,
			mark_userId
		)
		VALUES 
		(
			#{markBoardNum},
			'Y',
			#{markUserId}
		)
	</insert>
	
	<select id="bookmarkListCount" resultType="int">
		SELECT COUNT(1) 
		FROM bookmark 
		WHERE mark_userId = #{markUserId}
		AND bookmark = 'Y'
	</select>
	
	<select id="getBookmarkForLoginUser" resultType="Bookmark">
		SELECT 
			mark_boardNum AS markBoardNum
		From bookmark
		WHERE mark_userId = #{markUserId}
		AND mark_boardNum = #{markBoardNum}
	</select>
	
	<delete id="deleteBookmark">
		DELETE FROM bookmark
		WHERE mark_boardNum = #{markBoardNum}
		AND	mark_userId = #{markUserId}
	</delete>
	

</mapper>