<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.jihyunboard.bookmark.repository.BookmarkRepository">
	
	<insert id="insertBookmark" parameterType="Bookmark">
		INSERT INTO bookmark 
		(
			mark_boardNum,
			bookmark,
			mark_userId
		)
		VALUES 
		(
			#{markBoardNum},
			'Y',
			#{markUserId}
		)
	</insert>
	
</mapper>